<!doctype html>
<html lang="en-US">
<head>

  <meta charset="utf-8">

  <title>Signup</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body id="login" align=center>
	<div id="signup">
		<h2><span class="fontawesome-lock">Sign Up</span></h2>
		 <form action="javascript:void(0);" method="POST">
		 	<fieldset>
		 		<p><label for="email">Name:</label></p>
		 		<p><input type="text" id="name"></p>
		 		<p><label for="email">Surname:</label></p>
		 		<p><input type="text" id="surname"></p>
		 		<p><label for="email">E-mail:</label></p>
		 		<p><input type="email" id="email" value="mail@address.com" onBlur="if(this.value=='')this.value='mail@address.com'" onFocus="if(this.value=='mail@address.com')this.value=''"></p>
		 		<p><label for="email" value="username">Username:</label></p>
		 		<p><input type="text" id="surname"></p>
		 		<p><label for="password">Password:</label></p>
		 		<p><input type="password" id="password" value="password" onBlur="if(this.value=='')this.value='password'" onFocus="if(this.value=='password')this.value=''"></p>
		 		<p>
		 			<input type="submit" value="Register"/>
		 		</p>
		 	</fieldset>

	</div>

<html>
